
.aws {
  --text-primary: #333333;
  --text-secondary: #555555;
  --background-primary: #f7f7f7;
  --background-secondary: #ffffff;
  --border-primary: #dddddd;
  --button-background: #0073bb;
  --button-background-hover: #005da0;
  --button-text: #ffffff;
}

.aws body,
.aws html {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: Arial, sans-serif;
}

.aws .container {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.aws h1, .aws h2, .aws h3, .aws h4, .aws h5, .aws h6 {
  color: var(--text-primary);
}

.aws .btn {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.aws .btn:hover {
  background-color: var(--button-background-hover);
}

.aws .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.aws .table th, .aws .table td {
  border: 1px solid var(--border-primary);
  padding: 10px;
  text-align: left;
}
.aws .table th {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}
.aws .table td {
  background-color: var(--background-primary);
}
